*{
 margin-left: -5px;
}

.salida{
 font-size: 20px;
 text-decoration: underline;
}

th{
	border-radius: 5px;
	width: 5%;
}

material-icons{
	margin-left: 5px;	
}
.menu{
	position: fixed;
	z-index: 1;
}
.botonSalir{
	margin-top: 30px;
	margin-right: -300px;
}

.btn{
	margin-bottom: 10px;
}

.nombreusuario{
 color: white;
}